/* IMPORTACIÓN DE FUENTES */
/* Inter - fuente principal (regular) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Poppins - para encabezados (bold) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* Montserrat - para números y datos clave (semibold) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* NOTA: CAPAS DE TAILWIND */
/* 1. @tailwind base: Estilos globales, ajustes de elementos HTML (`<body>`, `<h1>`, `<p>`, etc.) y reseteos de CSS (normalización de márgenes, fuentes predeterminadas, line-height, "box-sizing: border-box;", etc.) para garantizar consistencia en los navegadores.
   - NOTA: Aunque es válido usar @apply en @layer base y el código sería funcional, no es una práctica recomendada, porque no se ajusta al propósito de la capa. La capa base está diseñada para estilos globales escritos en CSS estándar, y @apply se debe usar en las capas components o utilities para agrupar utilidades. 
   - **Ejemplo**:
       @layer base {
         h1 {
           font-family: 'Arial, sans-serif';
           font-weight: bold;
           color: #333;
         }

         body {
           background-color: #f9f9f9;
           margin: 0;
         }
       }

2. @tailwind components: Estilos predefinidos de clases que suelen agrupar utilidades con `@apply` para  componentes reutilizables de la UI como botones, formularios o tipografía. 
   - **Ejemplo**:
       @layer components {
         .btn-primary {
           @apply bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700;
         }

         .card {
           @apply shadow-lg rounded-lg p-6 bg-white;
         }
       }

3. @tailwind utilities: Clases utilitarias de propósito único que controlan propiedades específicas y pueden aplicarse directamente en el HTML. También se usan para definir utilidades personalizadas que Tailwind no ofrece por defecto.
   - **Ejemplo**:
       @layer utilities {
         .text-shadow-md {
           text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
         }

         .skew-10 {
           transform: skewY(-10deg);
         }
       }

Reglas para decidir:
- Si el estilo afecta elementos HTML directamente -> `@tailwind base`.
- Si es un estilo reutilizable y agrupado -> `@tailwind components`.
- Si es un estilo utilitario específico -> `@tailwind utilities`.
  ---- ES DECIR... Si un estilo es global, va en base. Si es reutilizable, va en components. Si es único, va en utilities.

Orden de procesamiento:
1. Base: Configura reseteos y estilos globales.
2. Components: Aplica estilos reutilizables y personalizados.
3. Utilities: Permite sobrescribir con ajustes específicos gracias a su mayor prioridad.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */
:root {
  /* Colores */
  --red: #ef4444;
  --warmyellow: #f59e0b;
  --sunnyyellow: #fbbf24;
  --green: #10b981;
  --skyblue: #93c5fd;
  --linkblue: #9abef9;
  --vibrantblue: #2563eb;
  --nightblue: #1e293b;
  --darkgray: #1f2937;
  --gray: #6b7280;
  --cloudygray: #9ca3af;
  --lightgray: #f3f4f6;
  --whitegray: #f9fafb;
}

@layer base {
  body {
    background-color: var(--skyblue);
    color: var(--darkgray);
    height: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  a {
    color: var(--linkblue);
  }
  a:hover {
    color: var(--skyblue);
  }
}

@layer components {
  /* Botones */
  .login-logout-buttons {
    @apply rounded-full border-2 border-sunnyyellow px-2 py-1 text-sm font-semibold text-sunnyyellow transition-transform hover:scale-105 hover:bg-sunnyyellow hover:text-darkgray;
  }
  .header-icons {
    @apply h-10 rounded border-2 border-sunnyyellow text-3xl text-sunnyyellow transition-transform hover:scale-105 hover:text-whitegray;
  }
  .header-buttons {
    @apply rounded-full px-2 py-1 text-sm font-semibold text-sunnyyellow transition-transform hover:scale-105 hover:text-whitegray;
  }

  .avatar {
    @apply shadow-extra mb-4 h-20 w-20 rounded-md;
  }
  /* Clase para el contenedor principal */
  .container-main {
    @apply p-4 sm:p-6 lg:p-8;
  }

  /* Clase para el texto de bienvenida */
  .welcome-text {
    @apply text-shadow-md mx-auto my-8 w-full rounded border border-whitegray p-3 text-center font-poppins text-xl font-semibold shadow-md sm:w-4/5 sm:text-2xl md:w-3/4 lg:w-2/3 lg:text-3xl xl:w-1/2;
  }

  /* Clase para el contenedor de alertas */
  .alert-container {
    @apply rounded-lg bg-darkgray p-4 text-whitegray opacity-85 sm:p-6 lg:p-8;
  }

  /* Clase para el texto de lista */
  .list-text {
    @apply my-2 ml-5 text-sm sm:text-base;
  }

  /* Clase para el texto en el párrafo */
  .description-text {
    @apply my-4 text-base sm:text-lg lg:text-xl;
  }

  /* Estilo para los botones principales */
  .btn-refresh {
    @apply rounded-md bg-green px-6 py-3 text-whitegray transition-all hover:scale-105 hover:bg-vibrantblue;
  }

  /* Estilo para las alertas */
  .alert-item {
    @apply mx-auto w-full rounded-lg bg-whitegray p-4 shadow-lg transition-shadow hover:shadow-xl sm:w-11/12 md:w-9/12 lg:w-8/12 xl:w-1/2;
  }

  /* Estilo del texto de alerta */
  .alert-text {
    @apply font-montserrat text-lg font-semibold italic text-darkgray;
  }

  /* Estilo para los textos pequeños */
  .alert-timestamp {
    @apply text-gray;
  }

  .btn-auth {
    @apply rounded-full border-2 border-sunnyyellow px-4 py-2 text-sm font-semibold text-sunnyyellow transition-transform hover:scale-105 hover:bg-sunnyyellow hover:text-darkgray;
  }

  /* Para el modal y el contenedor de menú */
  .modal-bg {
    @apply fixed inset-0 z-50 bg-nightblue bg-opacity-50;
  }

  .menu-modal {
    @apply mx-auto flex w-full max-w-6xl justify-end px-6 py-12;
  }

  .menu-container {
    @apply shadow-extra flex w-fit flex-col items-center rounded border-4 border-b-warmyellow border-l-sunnyyellow border-r-warmyellow border-t-sunnyyellow bg-nightblue p-6;
  }

  .menu-item-btn {
    @apply my-4 text-sm text-whitegray;
  }

  /* Estilo para el contenedor del formulario de login */
  .login-form-container {
    @apply flex min-h-screen flex-col items-center justify-center bg-darkgray px-6 py-12;
  }

  /* Estilo para el formulario */
  .login-form {
    @apply w-full max-w-md rounded-lg border-4 border-sunnyyellow bg-nightblue p-8 shadow-xl;
  }

  /* Estilo para los campos de entrada */
  .login-input {
    @apply mb-4 w-full rounded-lg border-2 border-sunnyyellow bg-whitegray p-3 text-darkgray focus:outline-none focus:ring-2 focus:ring-sunnyyellow;
  }

  /* Estilo para el botón de login */
  .login-button {
    @apply mt-4 w-full rounded-lg bg-sunnyyellow p-3 font-semibold text-darkgray transition-transform hover:scale-105 hover:bg-vibrantblue hover:text-whitegray;
  }

  /* Estilo para el texto de carga */
  .loading-text {
    @apply mt-4 text-center text-whitegray;
  }

  /* Clase para inputs con borde personalizado */
  .input-field {
    @apply w-full max-w-lg rounded border-2 border-sunnyyellow p-2 shadow-sm;
  }

  /* Botón para guardar cambios */
  .btn-save {
    @apply mt-4 rounded bg-green px-4 py-2 text-whitegray transition-all hover:bg-vibrantblue;
  }

  /* Botón para editar perfil */
  .btn-edit {
    @apply mt-4 rounded bg-gray px-4 py-2 text-whitegray transition-all hover:font-bold;
  }

  /* Botón para cambiar contraseña */
  .btn-change-password {
    @apply mt-4 rounded bg-red px-4 py-2 text-whitegray transition-all hover:bg-warmyellow;
  }

  /* Clase para el contenedor principal */
  .container {
    @apply mx-auto px-4 py-10;
  }
}

@layer utilities {
  .text-shadow-md {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.219);
  }

  .shadow-extra {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.425);
  }
}
