@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicamos a todo el cuerpo de la página nuestra fuente por defecto elegida. 
Si queremos usar otra, la especificamos en el elemento o clase personalizada. 
Aunque Tailwind permite usar la clase "font-sans" para aplicar la fuente predeterminada, 
la propiedad "font-sans" en Tailwind está relacionada con la configuración que se define
en tailwind.config.js. Sin embargo, al utilizar @apply en el cuerpo del documento, 
esta clase no se puede aplicar como se espera, ya que Tailwind no procesa la fuente directamente
a través de @apply en el selector body.
Por eso, aplicamos directamente la propiedad font-family para asegurar que "Inter" se use 
en todo el sitio de forma efectiva.*/
body {
  font-family: Inter, 'sans-serif';
}
.font-normal {
  font-weight: 400; /* Peso normal (400) */
}
.font-medium {
  font-weight: 500; /* Peso medio (500) */
}
